// Colors
$white: #F0E9E5;
$white-darker-10: #D7D0CC;
$white-darker-20: #BDB6B2;
$white-darker-30: #A49D99;
$white-darker-40: #8A837F;

$black: #261F1F;

$primary-color: #64B6A2;
$primary-color-darker-10: #4B9D89;
$secondary-color: #C24941;
$secondary-color-darker-10: #A93028;
$tertiary-color: #46433A;
$tertiary-color-darker-10: #2D2A21;
$tertiary-color-lighter-10: #605D54;
$tertiary-color-lighter-20: #79766D;
$tertiary-color-lighter-30: #939087;

// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.25em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-background-color: lighten($white, 10%);
$base-font-color: $black;
$action-color: $primary-color;

// Border
$base-border-color: $white-darker-20;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


/**
 * Header
 */
$header-height: 44px;
