/**
 * Header
 */

header {
	position: fixed;
	top: 0;
	height: $header-height;
	width: 100%;
	z-index: 1000;

	.header-filter {
		position: absolute;
		right: 0;
		top: 0;
	}

	.btn {
		background: transparent;
		color: $secondary-color;
		padding: 12px;

		&:active {
			color: darken($secondary-color, 10%);
		}
		&.active {
			color: $primary-color;
		}
	}
}
