<template name="layoutHeader">
	<header>
		<div class="header-user">
			<button class="btn">
				<i class="ion ion-person"></i>
			</button>
			{{> loginButtons}}
		</div>

		<div class="header-filter">
			<button class="btn hide-completed {{#if hideCompleted}}active{{/if}}">
				{{incompleteCount}}
				<i class="ion ion-funnel"></i>
			</button>
		</div>
	</header>
</template>
