#{$all-button-inputs},
button {
  @include transition(all 0.2s ease-in-out);
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $base-border-radius;
  border: none;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.5em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;

  &:hover,
  &:focus {
    color: darken($primary-color, 10%);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
